<nav th:fragment="navbar" class="navbar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="header-left">
        <a th:href="@{/}" class="home-link">
            <img th:src="@{/img/logo.png}" alt="Clic y Color" class="logo" />
            <span class="site-title">Clic y Color</span>
        </a>
    </div>
    <div class="navbar-center">
        <h1 class="site-title">Fotógrafo Profesional</h1>
    </div>
    <div class="navbar-right">
        <ul class="menu">
            <li><a th:href="@{/}">Inicio</a></li>

            <!-- Menú desplegable Portafolio -->
            <li class="dropdown">
                <a th:href="@{/portafolio}" class="dropdown-toggle">Portafolio ▼</a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{'/portafolio?eventoCategoria=Bodas'}">Bodas</a></li>
                    <li><a th:href="@{'/portafolio?eventoCategoria=Bautizos'}">Bautizos</a></li>
                    <li><a th:href="@{'/portafolio?eventoCategoria=Comuniones'}">Comuniones</a></li>
                    <li><a th:href="@{'/portafolio?eventoCategoria=Retratos'}">Retratos</a></li>
                    <li><a th:href="@{'/portafolio?eventoCategoria=Conciertos'}">Conciertos</a></li>
                </ul>
            </li>

            <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Iniciar sesión</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Registrarse</a></li>
            <!-- Botón visible solo para CLIENT -->
            <li sec:authorize="hasRole('CLIENT') and !hasRole('PHOTOGRAPHER')">
                <a th:href="@{/mis-eventos}">Mis eventos</a>
            </li>
            <!-- Botón visible solo para PHOTOGRAPHER -->
            <li sec:authorize="hasRole('PHOTOGRAPHER')">
                <a th:href="@{/panel/eventos}"> Gestión de eventos</a>
            </li>
            <!-- Otras opciones de menú -->
            <li sec:authorize="hasRole('CLIENT') and !hasRole('PHOTOGRAPHER')"><a th:href="@{/perfil}">Mi perfil</a></li>
            <li sec:authorize="hasRole('CLIENT') and !hasRole('PHOTOGRAPHER')"><a th:href="@{/logout}">Cerrar sesión</a></li>
            <li sec:authorize="hasRole('PHOTOGRAPHER')"><a th:href="@{/perfil}">Mi perfil</a></li>
            <li sec:authorize="hasRole('PHOTOGRAPHER')"><a th:href="@{/panel}">Panel</a></li>
            <li sec:authorize="hasRole('PHOTOGRAPHER')"><a th:href="@{/logout}">Cerrar sesión</a></li>
            <li><a th:href="@{/contacto}">Contacto</a></li>
        </ul>
    </div>

</nav>
